h1 {
    text-align: center;
}

/* 
body{
    background-color: 
} */


h3{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

h4 {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}


p{
    text-align: center; 
}